* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #fffff;
    padding: 15px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-logo a {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-logo img.logo {
    width: 70px; /* Adjust size as needed */
    margin-right: 10px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 20px;
}

.nav-list a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-list a:hover,
.nav-list .btn-get-started:hover {
    background-color: white;
    border-radius: 5px;
    color: #007BFF;
    border: 2px solid #007BFF;
    
}

.btn-get-started {
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to right, #0d47a1, #1976d2);
    color: white;
    padding: 100px 20px;
    flex: 1;
}

.header-content {
    max-width: 600px;
}

.header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.header p {
    font-size: 18px;
    margin-bottom: 20px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
